@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@500;800&display=swap');


body {
  background-color: aliceblue;
  font-family: 'Noto Sans JP', sans-serif;
  color: black;
  font-size: 15px;
}

.container {
  text-align: center;
  max-width: 700px;
  margin: 40px auto;
}

.card {
  background: white;
  margin: 10px;
  padding: 15px 15px 30px 15px;
  border-radius: 4px;
  box-shadow: 0px 10px 30px rgba(0,0,0,0.1)
}

h1, h2 {
  color: #30A7D7;
}

h2 {
  font-size: 24px;
}

.primary-button {
  text-decoration: none;
  color: whitesmoke;
  background: #D91617;
  border-radius: 5px;
  padding: 15px 30px;
}

.primary-button:hover{
  background: whitesmoke;
  color: #D91617;
  border: 1px solid #D91617;
}

.card p {
  margin-bottom: 30px;
}

.list-inline {
  list-style: none;
  padding-left: 0px;
}


.secondary-button {
  text-decoration: none;
  color: #D91617;
  background: whitesmoke;
  border-radius: 5px;
  display: inline-block;
  padding: 5px 20px;
  margin: 0 10px;
}

.secondary-button:hover{
  background: whitesmoke;
  border: 2px solid #D91617;
  margin: -2px 10px;
  padding: 5px 18px;
}
.secondary-button a {
  color: #D91617;
  text-decoration: none;
}

.secondary-button a i {
  margin-right: 8px;
}

#profile-pic {
  width: 260px;
  border-radius: 15%;
}


/* Responsive */

@media (max-width: 720px) {
  body {
    font-size:20px;
  }
  .secondary-button {
    margin: 10px 10px;
    display: block;
  }
}

@media (max-width: 540px) {
  body {
    font-size: 30px;
  }
  h2{
    font-size: 37px;
  }
  .secondary-button {
    margin: 10px 10px;
    display: block;
  }
}
